.container {
  margin: var(--containerMargin);
  padding: var(--containerPadding);
  border: var(--containerBorderWidth) var(--containerBorderStyle) var(--containerBorderColor);
  border-radius: var(--containerBorderRadius);
  height: 100%;
}
