.selection {
  background-color: var(--selectionBackgroundColor);
}

.tag {
  background-color: var(--tagBackgroundColor);
}

.popoverContainer {
  margin-top: var(--popoverContainerMargin);
}

.blue {
  background-color: var(--higlightBlue);
}

.green {
  background-color: var(--higlightGreen);
}

.red {
  background-color: var(--higlightRed);
}

.yellow {
  background-color: var(--higlightYellow);
}

.mixedTags {
  background-color: var(--mixedTagsBackground);
  color: var(--mixedTagsTextColor);
  cursor: pointer;
  border: 1px dotted var(--mixedTagsBorderColor);
  padding: 0 0.2rem;
}
